<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Bills Control - O seu controle financeiro online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="jmessias">
        <meta name="description" content="Bills Control, o seu controle financeiro online, nunca foi tão fácil controlar seus gastos.">
        <meta name="keywords" content="bills control, controle finaneiro, controle financeiro online, carteira virtual, controle de gastos, controle de gastos online, sistema de contas online, controle de contas">
        <meta name="reply-to" content="billscontrol2@gmail.com">
        <!-- FAV ICON -->
        <link rel="shortcut icon" href="http://billscontrol.com.br/img/favicon.ico">
        <!-- STYLES -->
        <link rel="stylesheet" href="http://billscontrol.com.br/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="http://billscontrol.com.br/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://billscontrol.com.br/css/style.css" />
        <link rel="stylesheet" href="http://billscontrol.com.br/css/login.css"/>
    </head>
    <body id="home" data-spy="scroll">
        {% block conteudo %}{% endblock conteudo %}
    </body>
</html>
<!-- JQUERY -->
<script src="http://billscontrol.com.br/js/jquery-2.1.4.min.js"></script>
<!-- BOOTSTRAP -->
<script src="http://billscontrol.com.br/js/bootstrap.min.js"></script>
<!-- Scrolling JavaScript -->
<script src="http://billscontrol.com.br/js/jquery.easing.min.js"></script>
<script src="http://billscontrol.com.br/js/scrolling-nav.js"></script>
<!-- BOX DE LOGIN -->
<script src="http://billscontrol.com.br/js/login.js"></script>