{% extends 'base.html' %}
{% block conteudo %}
    {% block menu %}
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-inverse">
                    <div class="container-fluid">
                        <!-- VERSÃO MOBILE -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand page-scroll" href="#home"><img src="/static/img/logotipo-bills-control-escuro.png" title="Logotipo Bills Control" alt="logotipo bills control" class="img-responsive" width="120"></a>
                        </div>
                        <!-- LINKS -->
                        <div class="collapse navbar-collapse menu" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="page-scroll" href="#como-funciona">COMO FUNCIONA</a></li>
                                <li><a class="page-scroll" href="#duvidas">DÚVIDAS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
    {% endblock menu %}
    {% if  dados_home %}
        <!-- BLOCO HOME -->
        <div class="col-md-12 home">
            <div class="col-md-12 home">
                <h1 class="text-center">{{ dados_home.texto_1 }}</h1>
                <h1 class="text-center">{{ dados_home.texto_2 }}</h1>
            </div>
            <div class="col-md-12">
                <img src="/static/media/{{ dados_home.imagem }}" class="img-responsive" title="Carteira Virtual" alt="carteira virtual" />
            </div>
            <div class="col-md-12 home">
                <h2 class="text-center">{{ dados_home.texto_3 }}</h2>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 home botao-home">
                <a href="{% url 'admin:index' %}" class="btn btn-block btn-default">ACESSAR</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    {% else %}
        <div class="not-found">
            <h1>Ops, página não encontrada <span>=´^(</span></h1>
        </div>
    {% endif %}
    <!-- BLOCO COMO FUNCIONA -->
    <div class="col-md-12 bg-info como-funciona" id="como-funciona">
        <h1 class="text-center">COMO FUNCIONA</h1>
        {% if como_funciona %}
            {% for valor in como_funciona %}
                <div class="col-md-12">
                    <h2 class="text-center">{{ valor.titulo }}</h2>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <img src="/static/media/{{ valor.imagem }}" class="img-responsive" alt="imagem cadastro" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-12">
                    <p>{{ valor.texto }}</p>
                </div>
                <div class="col-md-1"></div><div class="col-md-10 linha"></div><div class="col-md-1"></div>
            {% endfor %}
        {% else %}
            <div class="not-found">
                <h1>Ops, página não encontrada <span>=´^(</span></h1>
            </div>
        {% endif %}
        <div class="col-md-12 text-center">
            <h3><a href="http://billscontrol.com.br/comecar/">Comece a ter o controle financeiro que você sempre precisou!</a></h3>
        </div>
    </div>
    <!-- BLOCO DÚVIDAS -->
    <div class="col-md-12 duvidas" id="duvidas">
        <div class="col-md-12">
            <h1 class="text-center">DÚVIDAS</h1>
            <h2 class="text-justify">Utilize os campos abaixo para esclarecer qualquer dúvida ou sugerir melhorias para nossa ferramenta.</h2>
        </div>
        <div class="col-md-6">
            <form method="post" action="/">
                {% csrf_token %}
                <div class="form-group">
                    <label>Nome ou apelido</label>
                    <input type="text" name="nome" class="form-control" required maxlength="100">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required maxlength="100">
                </div>
                <div class="form-group">
                    <label>Celular</label>
                    <input type="tel" name="celular" class="form-control" maxlength="11">
                </div>
                <div class="form-group">
                    <label>Mensagem</label>
                    <textarea class="form-control" name="mensagem" rows="5" maxlength="255"></textarea>
                </div>
                <div class="form-group botao-duvidas">
                    <input type="submit" class="btn btn-default btn-block" name="enviar" value="ENVIAR">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <p>Para você que não consegue economizar seu dinheiro de maneira alguma, nós podemos te ajudar.</p>
            <p>Entre em contato conosco e saiba a respeito do Bills Control, essa é a hora de começar a investir em você mesmo.</p>
            <p>Curta nossa <a href="https://www.facebook.com/jmessiasweb" target="_blank">fã page</a> e ajude a divulgar esse trabalho.</p>
        </div>
    </div>
    <!-- RODAPÉ -->
    <div class="col-md-1"></div>
    <div class="col-md-10 linha-rodape"></div>
    <div class="col-md-1"></div>
    <footer>
        <p class="col-md-12 text-center">
            <a href="http://jmessias.com.br" target="_blank">Jmessi@s</a> 2017 | DIREITOS RESERVADOS
        </p>
    </footer>
{% endblock conteudo %}
